{%extends "base.html"%}
{%block loadstatic%}
{%load static%}
<link rel="stylesheet" href="{% static 'css/users.sign-in.css' %}" />
{%endblock%}
{%block title%}FarmStand: Sign-In{%endblock%}
{%block sign-in-link%}class="active"{%endblock%}
{%block content%}
    <!--SIGN IN-->
    <div id="sign-in-wrapper">
      <h2>Sign In</h2>
      <div id="sign-in-messages">
        {%if messages%}{%for message in messages%}<span class="{{message.tags}}"
          >{{message}}</span
        >{%endfor%}{%endif%}
      </div>
      <form action="authenticate" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="email" name="email" id="email" required />
        <input type="password" name="password" id="password" required />
        <input type="submit" value="Sign In" id="submit-btn" />
      </form>
    </div>
{%endblock%}