<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    {%load static%}
    <link rel="stylesheet" href="{% static 'add-product.css'%}" />
    <title>FarmStand: Add Product</title>
  </head>
  <body>
    <!--NAVIGATION-->
    <nav class="navbar navbar-default">
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        "
      >
        <a class="navbar-brand" href="#">FarmStand</a>
        <button
          id="cancel-btn"
          type="button"
          class="btn btn-light"
          onclick="window.location.href='/products/{{request.session.user_id}}'"
        >
          Cancel
        </button>
      </div>
      <!-- /.container-fluid -->
    </nav>
    <div class="container">
      <h2 class="text-center">Add a Product</h2>
      
      <form action="create" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="message">
        {%if messages%} {%for message in messages%}
        {%if message.extra_tags == 'product_name'%}
          <div class="{{message.tags}}">{{message}}</div>
          {%endif%}{%endfor%} {%endif%}
        </div>
        <input 
          name="product_name" 
          placeholder="Name: 'Apples'" 
          type="text" 
          {%if 'postData' in request.session%}
          value="{{request.session.postData.product_name}}"
          {%endif%}
        />
        <div class="message">
        {%if messages%} {%for message in messages%}
        {%if message.extra_tags == 'product_description'%}
          <div class="{{message.tags}}">{{message}}</div>
          {%endif%}{%endfor%} {%endif%}
        </div>
        <input
          name="product_description"
          placeholder="Description"
          type="text"
          {%if 'postData' in request.session%}
          value="{{request.session.postData.product_description}}"
          {%endif%}
        />
        <div class="message">
        {%if messages%} {%for message in messages%}
        {%if message.extra_tags == 'product_price'%}
          <div class="{{message.tags}}">{{message}}</div>
          {%endif%}{%endfor%} {%endif%}
        </div>
        <input
          name="product_price"
          placeholder="Price: $1.99"
          type="text"
          pattern="(0\.((0[1-9]{1})|([1-9]{1}([0-9]{1})?)))|(([1-9]+[0-9]*)(\.([0-9]{2}))?)"
          title="Please enter a valid dollar amount"
          {%if 'postData' in request.session%}
          value="{{request.session.postData.product_price}}"
          {%endif%}
        />
        <div class="message">
        {%if messages%} {%for message in messages%}
        {%if message.extra_tags == 'product_unit'%}
          <div class="{{message.tags}}">{{message}}</div>
          {%endif%}{%endfor%} {%endif%}
        </div>
        <input
          name="product_unit"
          placeholder="Per: gal / lb / ea"
          type="text"
          {%if 'postData' in request.session%}
          value="{{request.session.postData.product_unit}}"
          {%endif%}
        />
        <div class="message">
        {%if messages%} {%for message in messages%}
        {%if message.extra_tags == 'product_quantity'%}
          <div class="{{message.tags}}">{{message}}</div>
          {%endif%}{%endfor%} {%endif%}
        </div>
        <input 
          name="product_quantity" 
          placeholder="Quantity" 
          type="number" 
          {%if 'postData' in request.session%}
          value="{{request.session.postData.product_quantity}}"
          {%endif%}
        />
        <div class="message">
        {%if messages%} {%for message in messages%}
        {%if message.extra_tags == 'product_image'%}
          <div class="{{message.tags}}">{{message}}</div>
          {%endif%}{%endfor%} {%endif%}
        </div>
        <label class="btn" id="upload-btn" for="image">Upload Image</label>
        <input
          type="file"
          accept="image/*"
          name="image"
          id="image"
          style="display: none"
          onchange="loadProdFile(event)"
        />
        <img 
          id="output" 
          width="275px"   
        />
        <input id="submit-btn" type="submit" value="Submit" />
      </form>
    </div>
    <script>
      var loadProdFile = function (event) {
        var image = document.getElementById("output");
        image.src = URL.createObjectURL(event.target.files[0]);
      };
    </script>
  </body>
</html>
