<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'list-products.css' %}" />
    <title>FarmStand: My Inventory</title>
  </head>
  <body>
    <!--NAVIGATION-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">FarmStand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/users/{{request.session.user_id}}">Account</a></li>
            <li class="active">
              <a href="/products/{{request.session.user_id}}">Inventory</a>
            </li>
            <!-- <li><a href="/users/{{request.session.user_id}}/orders/">Orders</a></li> -->

            <li><a href="/users/logout">Logout</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <div id="my-products" class="container">
      <h1>{{farmer.farm_name}}</h1>
      <div class="message">
      {%if messages%}
      {%for message in messages%}
      {%if message.tags == 'success'%}
      <div class="{{message.tags}}">{{message}}</div>
      {%endif%}
      {%endfor%}
      {%endif%}
      </div>
      <secion id="my_products">
        {%for product in products%}
        <div class="product btn btn-light product-btn"
          onclick="window.location.href='/products/{{product.id}}'"
        >
          <img src="https://farms-stand-bucket.s3-us-west-2.amazonaws.com/farmstand/{{product.image}}" alt="product image">
          <div class="details">
            <h3>{{product.name}}({{product.quantity}})</h3>
            <div class="meta">
              <div class="price">${{product.price}}</div>
              <div class="per">/</div>
              <div class="unit">{{product.unit}}</div>
            </div>
          </div>
        </div>
        {%endfor%}
      </secion>
    </div>
    <div
      id="add-btn"
      class="btn-danger"
      onclick="window.location.href='/products/new'"
    >
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
        class="bi bi-plus"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
        />
      </svg>
    </div>
  </body>
</html>
