{%extends "detail.html"%}
{%block loadstatic%}
{%load static%}
<link rel="stylesheet" href="{% static 'css/products.detail.css' %}" />
{%endblock%}
{%block content%}
{%if request.session.user_id%}
{%block products-link%}class="active"{%endblock%}
<div id="product_wrapper">
  <img src="https://farms-stand-bucket.s3-us-west-2.amazonaws.com/farmstand/{{product.image}}" alt="product image">
      <section>
        {%if messages%}
        <div class="message">
        {%for message in messages%}
        {%if message.tags == 'success'%}
        <div class="{{message.tags}}">{{message}}</div>
        {%endif%}
        {%endfor%}
        <br />
         </div>
        {%endif%}
          <h3>{{product.name}}</h3>
          <p>{{product.description}}</p>
          <div class="price">${{product.price}} per {{product.unit}}</div>
      </section>
</div>
<div
  id="editor-btn"
  class="btn-danger"
  onclick="window.location.href='/products/{{product.id}}/edit'"
  >
  <svg
    width="1em"
    height="1em"
    viewBox="0 0 16 16"
    class="bi bi-pen-fill"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"
    />
  </svg>
</div>
{%else%}
<div id="product_wrapper">
  <img src="https://farms-stand-bucket.s3-us-west-2.amazonaws.com/farmstand/{{product.image}}" alt="product image">
  <section>
              {%if messages%}
              <div class="message">
              {%for message in messages%}
              {%if message.tags == 'success'%}
              <div class="{{message.tags}}">{{message}}</div>
              {%endif%}
              {%endfor%}
              <br />
               </div>
              {%endif%}
                <h3>{{product.name}}</h3>
                <a href="/users/{{farmer.id}}/products">@{{farmer.farm_name}}</a><br /><br />
                <p>{{product.description}}</p>
                <div class="price">${{product.price}} per {{product.unit}}</div>
                  <form id="add-to-cart" action="/cart/" method="POST">
                    {%csrf_token%}
                    <input type="hidden" name="productId" value="{{product.id}}" />
                    <select id="select-quantity" name="quantity">
                      {% for i in quantity %}
                      <option class="quantity" value="{{i}}">{{i}} {{product.unit}}</option>
                      {% endfor %}
                    </select>
                    <input class="btn btn-warning" type="submit" value="Add to Cart">
                  </form>
                </div>
            </section>

    </div>
    {%endif%}
{%endblock%}
