{%extends "edit.html"%}
{%block loadstatic%}
{%load static%}
<link rel="stylesheet" href="{% static 'css/products.new.css' %}" />
{%endblock%}
{%block title%}
FarmStand: Edit My Product
{%endblock%}
{%block navbar-btn%}
  <button
    id="cancel-btn"
    type="button"
    class="btn btn-light"
    onclick="window.location.href='/products/{{product.id}}'"
  >
  Cancel
  </button>
{%endblock%}
{%block links%}
{%endblock%}
{%block content%}
    <div class="container">
      <h2 class="text-center">Edit {{product.name}}</h2>
      
      <form action="/products/{{product.id}}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="_method" value="PATCH" />
        {%if messages%} {%for message in messages%}
        {{message}}
        {%endfor%}{%endif%}
        <div class="message">
        {%if messages%} {%for message in messages%}
        {%if message.extra_tags == 'product_name'%}
          <div class="{{message.tags}}">{{message}}</div>
          {%endif%}{%endfor%} {%endif%}
        </div>
        <input name="product_name" value="{{product.name}}" placeholder="Name: 'Apples'" type="text" />
        <div class="message">
        {%if messages%} {%for message in messages%}
        {%if message.extra_tags == 'product_description'%}
          <div class="{{message.tags}}">{{message}}</div>
          {%endif%}{%endfor%} {%endif%}
        </div>
        <input
          name="product_description"
          value="{{product.description}}"
          placeholder="Description"
          type="text"
        />
        <div class="message">
        {%if messages%} {%for message in messages%}
        {%if message.extra_tags == 'product_price'%}
          <div class="{{message.tags}}">{{message}}</div>
          {%endif%}{%endfor%} {%endif%}
        </div>
        <input
          name="product_price"
          placeholder="Price: $1.99"
          value="{{product.price}}"
          type="text"
          pattern="(0\.((0[1-9]{1})|([1-9]{1}([0-9]{1})?)))|(([1-9]+[0-9]*)(\.([0-9]{1,2}))?)"
          title="Please enter a valid dollar amount"
        />
        <div class="message">
        {%if messages%} {%for message in messages%}
        {%if message.extra_tags == 'product_unit'%}
          <div class="{{message.tags}}">{{message}}</div>
          {%endif%}{%endfor%} {%endif%}
        </div>
        <input
          name="product_unit"
          value="{{product.unit}}"
          placeholder="Per: gal / lb / ea"
          type="text"
        />
        <div class="message">
        {%if messages%} {%for message in messages%}
        {%if message.extra_tags == 'product_quantity'%}
          <div class="{{message.tags}}">{{message}}</div>
          {%endif%}{%endfor%} {%endif%}
        </div>
        <input name="product_quantity" value="{{product.quantity}}" placeholder="Quantity" type="number" />
        <div class="message">
        {%if messages%} {%for message in messages%}
        {%if message.extra_tags == 'image'%}
          <div class="{{message.tags}}">{{message}}</div>
          {%endif%}{%endfor%} {%endif%}
        </div>
        <label class="btn" id="upload-btn" for="image">Upload Image</label>
        <input
          type="file"
          accept="image/*"
          name="image"
          id="image"
          style="display: none"
          onchange="loadProdFile(event)"
          value="{{product.image}}"
        />
        <img 
            id="output" 
            width="275px"
            src="https://farms-stand-bucket.s3-us-west-2.amazonaws.com/farmstand/{{product.image}}"
        />
        <input id="submit-btn" type="submit" value="Submit" />
        <button id="delete_product_btn" type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_product_modal">
          Delete
        </button>
      </form>
      <!--trigger modal-->

      <!-- Modal -->
      <div class="modal fade" id="delete_product_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Remove Item</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete {{product.name}} from your inventory?</p>
            </div>
            <div class="modal-footer">
              <form action="/products/{{product.id}}" method="POST" class="btn">
                {%csrf_token%}
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-danger">
              </form>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var loadProdFile = function (event) {
        var image = document.getElementById("output");
        image.src = URL.createObjectURL(event.target.files[0]);
      };
    </script>
{%endblock%}