{%extends "base.html"%}
{%block title%}
FarmStand
{%endblock%}
{%block loadstatic%}
    {% load static %}
    <script type="text/javascript" src="{% static 'search.js' %}"></script>
    <link rel="stylesheet" href="{% static 'search.css' %}" />
{%endblock%}
{%block content%}
    <!--SEARCH-->
    <div id="search-wrapper">
      <h1>Find Local Farmers</h1>
      <div id="search-errors">
        {%if messages%}{%for message in messages%}{{message}}{%endfor%}{%endif%}
      </div>
      <form action="" method="POST">
        {% csrf_token %}
        <input
          type="text"
          placeholder="Search by Zip Code"
          pattern="[0-9]{5}"
          name="zipCode"
          id="zipCode"
          title="Five digit zip code"
          required
          {%if 'zipCode' in request.session%}
          value="{{request.session.zipCode}}"
          {%endif%}
        />
        <select name="search-radius" required>
          <option value="">Distance in Miles</option>
          {%if 'zipCode' in request.session%}
          <option selected value="{{request.session.search_radius}}">{{request.session.search_radius}} mile radius</option>
          {%endif%}
          <option value="1">1</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
        </select>
        <input id="search-btn" type="submit" value="GO" />
      </form>
    </div>
{%endblock%}
