<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cart.css' %}" />
    <title>FarmStand: Receipt</title>
  </head>
  <body>
    <!--NAVIGATION-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">FarmStand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {%if request.session.user_id%}
            <li><a href="/users/{{request.session.user_id}}">Account</a></li>
            <li>
              <a href="/products/{{request.session.user_id}}">Inventory</a>
            </li>
            <li class="active"><a href="/cart">Shopping Cart</a></li>
            <li><a href="/users/logout">Logout</a></li>
            {%else%}
            <li><a href="/users/sign-in">Sign In</a></li>
            <li><a href="/users/new">Register</a></li>
            <li class="active"><a href="/cart">Shopping Cart</a></li>
            {%endif%}
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <div class="container">
      <h2>Success!<h2>
        <h3>Please print for your records</h3>
      {%for item in cart%}
      <div class="item">
          <div class="img_and_details">
            <img class="cart_img" src="https://farms-stand-bucket.s3-us-west-2.amazonaws.com/farmstand/{{item.product.image}}">
            <div class="name_and_price">
              <div class="item_name">{{item.product.name}}</div>
              <div class="item_price">${{item.product.price}} / {{item.product.unit}}</div>
            </div>
          </div>
          <div class="quantity_and_total">
            <div class="item_total">${{item.total}}</div>
            <div class="item_quantity">Qty: {{item.quantity_ordered}}</div>
          </div>
      </div>
      {%endfor%}
      {% if checkout_total == 00. or checkout_total == "0.00" %}
      <div id="empty-cart">your cart is empty</div>
      {%else%}
      <div id="checkout">
        <div id="cart_total">${{checkout_total}}</div>
        <button onclick="window.print()" class="btn btn-warning">Print</button>
      </div>
      {%endif%}
    </div>
  </body>
</html>
