{%extends "list.html"%}
{%block title%}
FarmStand: ShoppingCart
{%endblock%}
{%block loadstatic%}
{%load static%}
<link rel="stylesheet" href="{% static 'css/cart.css' %}" />
{%endblock%}
{%block content%}
    <div class="container">
      <h2>Success!<h2>
        <h3>Please print for your records</h3>
      {%for order in orders%}
      <div class="seller_info">
        <h4>{{order.user.farm_name}}</h4>
        <p>ADDRESS: {{order.user.address.street_1}} {{order.user.address.street_2}} {{order.user.address.city}}, {{order.user.address.state}} {{order.user.address.zip_code}}</p>
        <p>INSTRUCTIONS: {{order.user.instructions}}</p>
      </div>
      {%for item in order.items.all%}
      <div class="item">
          <div class="img_and_details">
            <img class="cart_img" src="https://farms-stand-bucket.s3-us-west-2.amazonaws.com/farmstand/{{item.product.image}}">
            <div class="name_and_price">
              <div class="item_name">{{item.product.name}}</div>
              <div class="item_price">${{item.product.price}} / {{item.product.unit}}</div>
            </div>
          </div>
          <div class="quantity_and_total">
            <div class="item_total">Qty: {{item.quantity_ordered}}</div>
          </div>
      </div>
      {%endfor%}
      {%endfor%}
      {% if sale_total == 00. or sale_total == "0.00" %}
      <div id="empty-cart">your cart is empty</div>
      {%else%}
      <div id="checkout">
        <div id="cart_total">${{sale_total}}</div>
        <button onclick="window.print()" class="btn btn-warning">Print</button>
      </div>
      {%endif%}
    </div>
{%endblock%}