<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {%block extendstatic%}
    {%endblock%}
    {%block loadstatic%}
    {%endblock%}
    <title>{% block title %}FarmStand{% endblock %}</title>
  </head>
  <body>
    {% block navbar %}
    <!--NAVIGATION-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              {% block navbar-btn %}
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            {% endblock %}
            <a class="navbar-brand" href="/">FarmStand</a>
          </div>
          {%block links%}
          {% if request.session.user_id %}
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li {%block self-link%}class=""{%endblock%}>
                <a href="/users/{{request.session.user_id}}">Account</a>
              </li>
              <li {%block products-link%}class=""{%endblock%}>
                <a href="/users/{{request.session.user_id}}/products">Inventory</a>
              </li>
              <!-- <li><a href="/users/{{request.session.user_id}}/orders/">Orders</a></li> -->
              <li {%block sign-out-link%}class=""{%endblock%}><a href="/users/{{request.session.user_id}}/sign-out">Logout</a></li>
            </ul>
          </div>
          {%else%}
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li {%block sign-in-link%}class=""{%endblock%}><a href="/users/sign-in">Sign In</a></li>
              <li {%block sign-up-link%}class=""{%endblock%}><a href="/users/new">Register</a></li>
              <li {%block cart-link%}class=""{%endblock%}><a href="/cart/">Shopping Cart</a></li>
            </ul>
          </div>
          {%endif%}
          {%endblock%}
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
      {% endblock %}
      {% block content %}
      {% endblock %}
  </body>
</html>
