* {
  margin: 0;
  padding: 0;
}

#sign-up-wrapper {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin-top: 5px;
}

#submit-btn {
  margin-top: 10px;
}
